.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
build/
dist/
.env
.DS_Store

# CodePilot Build and Zip artifacts
deployment/
*.zip

# Terraform files
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# IDE settings
.vscode/
.idea/